// Article page

.hero
  position relative
  width 100%
  height 100vh
  overflow hidden
  img
    width auto
    height 100%
  h1
    position absolute
    left 2rem
    bottom 6rem
    color white
    background $color1
  p
    position absolute
    left 2rem
    bottom 4rem
    color white
    background $color1
  .tags
    width 100%
    text-align center
    span
      display inline-block
      padding 0.1rem 0.7rem 0
      margin 0.5rem
      color white
      background $color1
      border-radius 5px
      word-wrap nowrap

.content
  width 100vw
  min-height 100vh
  padding 1rem 5rem 2rem
  display flex
  justify-content center
  align-items center
  > div
    width 50%
  img
    max-width 100%
  img + em
    display block
    text-align center
    width 100%
    font-size 0.8rem
    color $dark-grey
  h2 + ul
    border-radius 10px
    background $dark-grey
    list-style-type none
    margin 0
    padding 0 0.5rem