// Article page

.hero
  position relative
  width 100%
  height calc(100vh-2rem)
  overflow hidden
  display flex
  @media screen and (max-width: ($min-screen - 1px))
    height auto
    max-height 100vh
  img
    align-self center
    width 100%
    height auto
  h1
    position absolute
    left 2rem
    bottom 6.5rem
    color white
    background $color1
    padding-left .5rem
    padding-right @padding-left
    @media screen and (max-width: ($min-screen - 1px))
      top 0
      left 0
      bottom initial
  p
    position absolute
    left 2rem
    bottom 4.5rem
    color white
    background $color1
    padding-left .5rem
    padding-right @padding-left
    @media screen and (max-width: ($min-screen - 1px))
      left 0
      bottom 0
    span:after
      content ' — '
    span:last-child:after
      display none

.content
  position relative
  width 100%
  max-width $page-width
  min-height 100vh
  margin 0 auto
  padding 1rem 1rem 4rem
  display flex
  justify-content center
  @media screen and (max-width: ($min-screen - 1px))
    flex-direction column

.gallery-aside
  max-width 40%
  margin-left 1rem
  @media screen and (max-width: ($min-screen - 1px))
    max-width 100%
    margin-left 0
  img
    width 100%
  img + p
    display block
    text-align center
    width 100%
    font-size 0.8rem
    color $dark-grey
    padding-bottom 2rem
  h2 + ul
    border-radius 10px
    background $dark-grey
    list-style-type none
    margin 0
    padding 0 0.5rem