// Article page

img
  cursor zoom-in

.hero
  position relative
  width 100%
  height 100vh
  overflow hidden
  display flex
  @media screen and (max-width: ($min-screen - 1px))
    height auto
    max-height 100vh
    padding-bottom 3rem
  h1
    position absolute
    left 2rem
    bottom 3.5rem
    color white
    background $color1
    padding-left .5rem
    padding-right @padding-left
    @media screen and (max-width: ($min-screen - 1px))
      top 0
      left 0
      bottom initial
  p
    position absolute
    left 2rem
    bottom 1.5rem
    color white
    background $color1
    padding-left .5rem
    padding-right @padding-left
    @media screen and (max-width: ($min-screen - 1px))
      left 0
      bottom 0
      height 3rem
      width 100%
    span:after
      content ' — '
    span:last-child:after
      display none

.hero-image
  align-self center
  width 100%
  height auto

.content
  position relative
  width 100%
  min-height 100vh
  margin 0 auto
  padding 3rem 1rem 4rem
  display flex
  justify-content center
  @media screen and (max-width: ($min-screen - 1px))
    flex-direction column

.article-body
  width 100%
  margin-bottom 2rem
  @media screen and (min-width: $min-screen)
    width 50%
    margin-left 2rem

.gallery-aside
  width 100%
  @media screen and (min-width: $min-screen)
    width 50%
    margin-left 2rem
  figure
    margin-bottom 1rem
  img
    display block
    width 100%
  figcaption
    display block
    width 100%
    font-size 1rem
    color white
    background $color1
    padding 0.5rem
  h2 + ul
    border-radius 10px
    background $dark-grey
    list-style-type none
    margin 0
    padding 0 0.5rem