//  RESPONSIVE TYPOGRAPHY FOR STYLUS
//  By @frbec 
//  Based on Indrek Paas @indrekpaas work for Sass
//
//  Inspired by Mike Riethmuller's Precise control over responsive typography
//  http://madebymike.com.au/writing/precise-control-responsive-typography/
//
//  13.10.2017 Rewritten for Stylus
//  11.08.2016 Remove redundant `&` self-reference
//  31.03.2016 Remove redundant parenthesis from output
//  02.10.2015 Add support for multiple properties
//  24.04.2015 Initial release

fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value)
  for $property in $properties
    {$property} $min-value
  
  @media screen and (min-width: $min-vw)
    for $property in $properties
      {$property} "calc(%s + %s * ((100vw - %s) / %s))" % ($min-value (remove-unit($max-value - $min-value)) $min-vw (remove-unit($max-vw - $min-vw)))

  @media screen and (min-width: $max-vw)
    for $property in $properties
      {$property} $max-value

// Single property


// MODULAR SCALE HEADINGS

// Min and max modulation numbers
$mod_1 = 1.067
$mod_2 = 1.333

// Calculated sizes
$h1-min = $mod_1 ** 4 * 1rem
$h1-max = $mod_2 ** 4 * 1rem

$h2-min = $mod_1 ** 3 * 1rem
$h2-max = $mod_2 ** 3 * 1rem

$h3-min = $mod_1 ** 2 * 1rem
$h3-max = $mod_2 ** 2 * 1rem

$h4-min = $mod_1 * 1rem
$h4-max = $mod_2 * 1rem

$h5-min = 1rem
$h5-max = 1rem

$h6-min = (1rem / $mod_1)
$h6-max = (1rem / $mod_2)
