// FIRST SET CONSTANTS

$color1 = #45E5A5
$color2 = #0C1061
$grey = #DBDBC3
$dark-grey = #A5A5AC

$page-width = 40rem

// IMPORT MIXINS ETC

@require _typography

// SET BASE PROPERTIES
// Apply fluid type mixin

:root
  fluid-type(font-size, 320px, 1920px, 16px, 24px)
  line-height 1.5

// Calculate rem values by multiplying min and max root font-size values
h1
  fluid-type(font-size, 20rem, 80rem, $h1-min, $h1-max)
h2
  fluid-type(font-size, 20rem, 80rem, $h2-min, $h2-max)
h3
  fluid-type(font-size, 20rem, 80rem, $h3-min, $h3-max)
h4
  fluid-type(font-size, 20rem, 80rem, $h4-min, $h4-max)
h5
  fluid-type(font-size, 20rem, 80rem, $h5-min, $h5-max)
h6
  fluid-type(font-size, 20rem, 80rem, $h6-min, $h6-max)

// Page basics
html
  font-family -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Ubuntu", Arial, sans-serif
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust:100%
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  box-sizing border-box
  width 100%

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

// STYLING BEGINS

body
  background white

h1, h2, h3, h4, h5, h6
  font-family 'Josefin Slab', serif

p
  font-family 'Josefin Sans', sans-serif
  padding-bottom 0.5rem
  color $color2

// Front page structure

main
  width 100%
  min-width 320px

footer
  display flex
  justify-content center
  height 3rem
  margin-top -@height
  p
    font-size 0.7rem
    font-weight bold

#intro
  width 100%

#portfolio
  position relative

.full-page
  width 100%
  max-width $page-width
  min-height 100vh
  margin 0 auto
  display flex
  align-items center
  
.container
  position relative
  width 100%
  align-self middle

// Intro section Layout

.top
  width 100%
  padding-left 40%
  flex-grow 1

.middle
  width 100%
  display flex
  flex-direction row
  justify-content space-between

.bottom
  width 30%
  flex-grow 1

// Intro section

.logo
  width 15rem
  margin-bottom 2rem
  max-width 100%

.intro_textbox
  width 60%
  padding 0

.profile
  width 30%
  img
    width 100%
    height auto

.notice
  width 100%
  margin-top 1rem
  color $color1
  text-align right
  p
    font-size 0.7rem
    font-weight bold
    padding-left 0.15rem

.divider
  width 1%
  min-height 100%
  margin .3rem 0 .5rem
  background $color1

// Portfolio section

.gallery
  width 100%
  margin-top 1rem
  display flex
  flex-flow row wrap
  justify-content left

#portfolio article
  position relative
  overflow hidden
  max-width calc(50%-1rem)
  margin-bottom 2rem
  &:nth-child(even)
    margin-left 2rem
  img
    width 100%
    display block
    transition 0.05s
  &:hover img
    transform scale(1.12)
    transition 0.3s ease-out
  &:hover .overlay
    opacity 1
    transition 0.2s ease

.overlay
  position absolute
  top 0
  right 0
  left 0
  bottom 0
  display flex
  justify-content center
  align-items center
  background rgba($color2,0.7)
  color white
  opacity 0
  text-align center
  text-decoration none
  transition 0.1s ease

// Article page

.hero
  position relative
  width 100%
  overflow hidden
  img
    width 100%
    max-height 100vh
  h1
    width 100%
    text-align center
  .tags
    width 100%
    text-align center
    span
      display inline-block
      padding 0.1rem 0.7rem
      margin 0.5rem
      background $color1
      border-radius 5px
      word-wrap nowrap

.content
  max-width $page-width
  margin 0 auto
  padding-top 4rem
  img
    max-width 100%
  img + em
    display block
    text-align center
    width 100%
    font-size 0.8rem
    color $dark-grey
  h2 + ul
    border-radius 10px
    background $dark-grey
    list-style-type none
    margin 0
    padding 0 0.5rem
    
// Styling

.rounded
  border-radius 5px

.nowrap
  word-wrap nowrap
  display inline-block