// FIRST SET CONSTANTS

$color1 = #45E5A5
$color2 = #0C1061
$grey = #DBDBC3
$dark-grey = #A5A5AC

$page-width = 40rem

// IMPORT MIXINS ETC

@require _typography

// SET BASE PROPERTIES
// Apply fluid type mixin

:root
  fluid-type(font-size, 320px, 1920px, 16px, 24px)
  line-height 1.5

// Calculate rem values by multiplying min and max root font-size values
h1
  fluid-type(font-size, 20rem, 80rem, $h1-min, $h1-max)
h2
  fluid-type(font-size, 20rem, 80rem, $h2-min, $h2-max)
h3
  fluid-type(font-size, 20rem, 80rem, $h3-min, $h3-max)
h4
  fluid-type(font-size, 20rem, 80rem, $h4-min, $h4-max)
h5
  fluid-type(font-size, 20rem, 80rem, $h5-min, $h5-max)
h6
  fluid-type(font-size, 20rem, 80rem, $h6-min, $h6-max)

// Page basics
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Ubuntu", Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

// STYLING BEGINS

body
  background white

h1, h2, h3, h4, h5, h6
  font-family 'Josefin Sans', sans-serif

p
  font-family 'Josefin Slab', serif
  padding-bottom 0.5rem
  color $color2

main
  width 100%
  min-width 320px

.rounded
  border-radius 5px

.logo
  position relative
  top 6rem
  left 5rem
  width 20rem

#intro
  width 100%
  max-width $page-width
  margin 0 auto
  
.intro_textbox
  background $color1
  width 40rem
  padding 5rem 3rem
  margin 4rem auto 0

.notice
  position relative
  top -3rem
  left -2rem
  padding 2rem
  width 23rem
  background-color rgba($color2, .8)
  transform skewY(2deg)
  p, h2
    transform skewY(-2deg)
    color $color1

.profile
  float right
  position relative
  top 11rem
  left 2rem
  width 14rem

#portfolio
  width 100%
  max-width 60rem
  margin auto
  display flex
  flex-flow wrap row
  justify-content left

.divider
  width 100%
  max-width $page-width
  margin 0 auto
  padding 3rem 0 0
  h2
    color $color1

#portfolio article
  position relative
  max-width calc(50%-1rem)
  margin-bottom 2rem
  &:nth-child(even)
    margin-left 2rem
  img
    display block
  &:hover .overlay
    opacity 1

.overlay
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  display flex
  justify-content center
  background rgba(0,0,0,0.5)
  opacity 0
  h3 
    align-self center

footer
  display flex
  justify-content center

.thumbnail
  width 100%
  height auto

.hero
  position relative
  width 100%
  overflow hidden
  img
    width 100%
    max-height 100vh
  h1
    width 100%
    text-align center
  .tags
    width 100%
    text-align center
    span
      padding 0.5rem 0.7rem
      margin 0 0.5rem 2rem
      background $color1
      border-radius 5px

.content
  max-width $page-width
  margin 0 auto
  padding-top 4rem
  img
    max-width 100%
  img + em
    display block
    text-align center
    width 100%
    font-size 0.8rem
    color $dark-grey
    
