// FIRST SET CONSTANTS

$color1 = #45E5A5
$color2 = #0C1061
$grey = #DBDBC3
$dark-grey = #A5A5AC

$page-width = 40rem
$min-screen = 420px

// IMPORT MIXINS ETC

@require _typography

// SET BASE PROPERTIES
// Apply fluid type mixin

:root
  fluid-type(font-size, $min-screen, 1920px, 16px, 24px)
  line-height 1.5

// Calculate rem values by multiplying min and max root font-size values

h1
  fluid-type(font-size, 25rem, 80rem, $h1-min, $h1-max)
  fluid-type(padding-top, 25rem, 80rem, (2.5rem - $h1-min), (2.5rem - $h1-max))
  fluid-type(padding-bottom, 25rem, 80rem, .5rem, .5rem)
  line-height 1
h2
  fluid-type(font-size, 25rem, 80rem, $h2-min, $h2-max)
  fluid-type(padding-top, 25rem, 80rem, (2.5rem - $h2-min), (2.5rem - $h2-max))
  fluid-type(padding-bottom, 25rem, 80rem, .5rem, .5rem)
  line-height 1
h3
  fluid-type(font-size, 25rem, 80rem, $h3-min, $h3-max)
  fluid-type(padding-top, 25rem, 80rem, (2.5rem - $h3-min), (2.5rem - $h3-max))
  fluid-type(padding-bottom, 25rem, 80rem, .5rem, .5re)
  line-height 1
h4
  fluid-type(font-size, 25rem, 80rem, $h4-min, $h4-max)
  fluid-type(padding-top, 25rem, 80rem, (1.5rem - $h4-min), (1.5rem - $h4-max))
  fluid-type(padding-bottom, 25rem, 80rem, .5rem, .5rem)
  line-height 1
h5
  fluid-type(font-size, 25rem, 80rem, $h5-min, $h5-max)
  fluid-type(padding-top, 25rem, 80rem, (1.5rem - $h5-min), (1.5rem - $h5-max))
  fluid-type(padding-bottom, 25rem, 80rem, .5rem, .5rem)
  line-height 1
h6
  fluid-type(font-size, 20rem, 80rem, $h6-min, $h6-max)
  fluid-type(padding-top, 25rem, 80rem, (1.5rem - $h6-min), (1.5rem - $h6-max))
  fluid-type(padding-bottom, 25rem, 80rem, .5rem, .5rem)
  line-height 1

// Page basics

html
  font-family "Josefin Sans", sans-serif
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust:100%
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  box-sizing border-box
  width 100%

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

// STYLING BEGINS

body
  background white
  margin-top 2rem
  margin-bottom 0
  @media screen and (orientation: portrait) and (max-width: 700px)
    margin-bottom 3rem
    margin-top 0

h1, h2, h3, h4, h5, h6
  font-family 'Zilla Slab', serif
  font-weight normal
  letter-spacing -.06rem

p
  font-family 'Josefin Sans', sans-serif
  color $color2

ul
  list-style-type square
  color $color2
  margin-bottom 1rem
  padding 0
// Front page structure
nav
  position fixed
  top 0
  z-index 99
  width 100%
  height 2rem
  display flex
  justify-content center
  align-items center
  background rgba(255,255,255,1)
  @media screen and (orientation: portrait) and (max-width: 700px)
    top initial
    bottom 0
    height 3rem
  img
    width 1rem
    height @width
    margin-left .5rem
    filter gray
    filter grayscale(1)
    -webkit-filter gray(1)
  a
    color gray
    text-decoration none
    margin-left .5rem
    margin-right @margin-left
    border-bottom 2px solid transparent
    transition 0.2s ease-out
    &:hover
      color $color1
      border-bottom 2px solid @color
      transition 0.2s ease-in
    &:hover > img
      filter none
      filter none
      -webkit-filter none
      transition 0.2s ease-in

main
  width 100%
  min-width 320px

footer
  display flex
  justify-content center
  height 2rem
  margin-top -@height
  color gray

#intro
  width 100%

#portfolio
  position relative

.full-page
  width 100%
  margin 0 auto
  padding 1rem 1rem 2rem
  display flex
  justify-content center
  align-items center
  @media screen and (min-width: ($min-screen * 2)), screen and (orientation: landscape)
    min-height 100vh
  
.container
  position relative
  width 100%
  align-self middle

.desktop
  display none
  @media screen and (min-width: $min-screen) and (orientation: landscape)
    display block
    
.mobile
  display block
  @media screen and (min-width: $min-screen) and (orientation: landscape)
    display none

// Intro section Layout

.top
  width 100%
  flex-grow 1
  @media screen and (min-width: $min-screen) and (orientation: landscape)
    padding-left 40%

.middle
  width 100%
  display flex
  flex-direction column
  @media screen and (min-width: $min-screen) and (orientation: landscape)
    flex-direction row
    justify-content space-between

.bottom
  width 100%
  flex-grow 1
  @media screen and (min-width: $min-screen) and (orientation: landscape)
    width 30%

// Intro section

.logo
  width 15rem
  height auto
  fluid-type(padding-bottom, 25rem, 80rem, (2.5rem - $h2-min), (2.5rem - $h2-max))  
  max-width 100%

.intro_textbox
  width 100%
  padding 0
  @media screen and (min-width: $min-screen) and (orientation: landscape)
    width 60%

.profile
  width 100%
  margin-top .3rem
  @media screen and (min-width: $min-screen) and (orientation: landscape)
    width 30%
  img
    width 100%
    height auto

.notice
  width 100%
  display flex
  justify-content right
  flex-flow row wrap
  text-align right
  img
    width 20%
    margin-left 1rem
  h2
    width 100%

.divider
  width 100%
  height 5px
  margin .3rem 0 .5rem
  background $color1
  @media screen and (min-width: $min-screen)
    width 1%
    height auto
    min-height 100%

// Portfolio section

.gallery
  width 100%
  margin-top 1rem
  display flex
  flex-flow row wrap
  justify-content left

#portfolio article
  position relative
  overflow hidden
  padding-bottom 2rem
  margin-bottom 2rem
  @media screen and (min-width: $min-screen)
    padding-bottom 0
    max-width calc(50%-1rem)
    &:nth-child(even)
      margin-left 2rem
  img
    width 100%
    display block
    transition 0.05s
  &:hover img
    transform scale(1.12)
    transition 0.3s ease-out
  &:hover .overlay
    opacity 1
    transition 0.2s ease
    transform scale(1)

.overlay
  position absolute
  top 0
  right 0
  left 0
  bottom 0
  display flex
  justify-content center
  align-items center
  text-align center
  text-decoration none
  transition 0.1s ease
  @media screen and (min-width: $min-screen)
    background rgba($color1,0.8)
    opacity 0
    transform scale(1.2)
  div
    width 100%
    color white
    padding-left 1.5rem
    padding-right @padding-left
    padding-bottom .5rem
    p
      color inherit
      overflow hidden
      white-space nowrap
      text-overflow ellipsis
    @media screen and (max-width: $min-screen)
      background-color $color1
      align-self flex-end

// Styling

.color1
  color $color1

.color2
  color $color2

.rounded
  border-radius 10px

.nowrap
  word-wrap nowrap
  display inline-block

.compact-text
  font-size 0.8rem
  font-weight bold

@require _slug